OPENAI_API_KEY="YOUR_API_KEY_HERE"
OPENROUTER_API_KEY="YOUR_API_KEY_HERE"

BRAVE_API_KEY="YOUR_API_KEY_HERE"
TAVILY_API_KEY="YOUR_API_KEY_HERE"

CHECKERCHAIN_API=https://api.checkerchain.com/api/v1
CC_PAGE_LIMIT=30
