starlette>=0.30.0
pydantic>=2
rich>=13
pytest>=8
torch>=2
numpy>=1
setuptools>=68
dotenv>=0.9.9
bittensor>=9.9.0
alembic>=1.15.2
PyJWT>=2.8.0

langchain
langchain-openai
langchain-community
chromadb
tiktoken
requests
duckduckgo-search
langchain-text-splitters
langchain-chroma
beautifulsoup4
html5lib
lxml
pymongo
scipy
cvxpy
ecos
scikit-learn
joblib
"tenacity>=8"
python-dotenv
